<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Sakila Database Showcase</title>
</head>
<body>
    <header>
        <h1>Sakila Database Showcase</h1>
    </header>
    <main>

        <section id="search-movies">
            <h2>Search Movies</h2>
            <form action="{{ url_for('index') }}" method="POST">
                <label for="search_term">Search for a movie:</label>
                <input type="text" id="search_term" name="search_term" required>
                <button type="submit">Search</button>
            </form>
        </section>

        <section id="search-results">
            <div class="grid-container">
                {% for film in search_results %}
                    <div class="grid-item">
                        <div class="grid-content">
                            <img src="{{ film.image_url }}" alt="{{ film.title }}">
                            <p>{{ film.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        
        <section id="trending-movies">
            <h2>Trending Movies</h2>
            <div class="grid-container">
                {% for film in trending_movies %}
                    <div class="grid-item">
                        <div class="grid-content">
                            <img src="{{ film.image_url }}" alt="{{ film.title }}">
                            <p>{{ film.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

    </main>
    <footer>
        &copy; 2023 Sakila Showcase
    </footer>
</body>
</html>
