<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
</head>
<body>
    <h1>Movies List</h1>
    <form action="{{ url_for('movies') }}" method="post">
        <label for="search_term">Search:</label>
        <input type="text" name="search_term" id="search_term">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for film in films %}
            <li>
                <a href="{{ url_for('film_detail', film_id=film.film_id) }}">{{ film.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
